<div class="content" #aboutSection>
    <h1>About</h1>
    <p>Hi, I'm Shrestha Krishal</p>
    <p>I am a passionate Full Stack Developer with a talent for transforming ideas into seamless and high-performing digital solutions. 
        With expertise in ASP.NET Core Web API, Angular, and Swagger, I specialize in building scalable applications that offer both 
        intuitive user experiences and robust backend functionality.</p>
    <p>Driven by innovation, I focus on creating efficient architectures, optimizing performance, and delivering solutions that exceed expectations. 
        Whether designing dynamic front-end interfaces or developing powerful APIs, I am committed to bridging technology and user experience to build 
        impactful software solutions.</p>
    
    <div class="tech-stack">
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" alt="HTML" />
            <p>HTML</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" alt="CSS" />
            <p>CSS</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="Angular" />
            <p>Angular</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" alt=".NET" />
            <p>.NET</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="MySQL" />
            <p>MySQL</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" alt="GitHub" />
            <p>GitHub</p>
        </div>
    </div>
</div>