<div class="experience">
    <h1>Experience</h1>
    <p class="paragraph">
        I am a passionate Full Stack Developer with a talent for transforming ideas into seamless and high-performing digital solutions. 
        With over a year of experience, I have honed my expertise in <b>ASP.NET Core Web API, Angular, and Swagger, </b>specializing in building 
        scalable applications that offer both intuitive user experiences and robust backend functionality.
    </p>
    <p class="paragraph1">
        Driven by innovation, I focus on creating efficient architectures, optimizing performance, and delivering solutions that exceed expectations. 
        My technical proficiency includes <b>HTML, CSS, Angular, .NET, MySQL, Flutter, Dart, Firebase, and GitHub,</b> allowing me to develop dynamic front-end 
        interfaces and powerful APIs. I am committed to bridging technology and user experience to build impactful software solutions.
    </p>
</div>
<div class="container">
   
    <div class="tech-stack">
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
            <p>HTML</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
            <p>CSS</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
            <p>Angular</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" />
            <p>.NET</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
            <p>MySQL</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg" />
            <p>Flutter</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg" />
            <p>Dart</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original-wordmark.svg" />
            <p>Firebase</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <p>Github</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
            <p>HTML</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
            <p>CSS</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
            <p>Angular</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" />
            <p>.NET</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
            <p>MySQL</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg" />
            <p>Flutter</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg" />
            <p>Dart</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original-wordmark.svg" />
            <p>Firebase</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <p>Github</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg" />
            <p>HTML</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg" />
            <p>CSS</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />
            <p>Angular</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" />
            <p>.NET</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" />
            <p>MySQL</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg" />
            <p>Flutter</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original.svg" />
            <p>Dart</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original-wordmark.svg" />
            <p>Firebase</p>
        </div>
        <div class="tech">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg" />
            <p>Github</p>
        </div>
    </div>
</div>
