
<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<!-- Home Section -->
<div id="home" class="mainpage">
    <app-home></app-home>
</div>

<!-- About Section -->
<div id="about" class="content">
    <app-about></app-about>
</div>

<!--Portfolio-->
<div id="portfolio" class="content">
    <app-portfolio></app-portfolio>
</div>

<!--Experience-->
<div id = "experience" class="content">
    <app-experience></app-experience>
</div>

<!--Contact-->
<div id = "contact" class="content">
    <app-contact></app-contact>
</div>