<!-- sidebar.component.html -->
<div class="sidebar" [class.active]="isSidebarVisible">
    
    <nav class="menu">
        <div class="profile-container">
            <img src="my.jpg" alt="Portfolio Image" class="profile-img">
        </div>
        <a href="#home" class="menu-item"><i class="fas fa-home"></i></a>
        <a href="#about" class="menu-item"><i class="fas fa-user"></i></a>
        <a href="#portfolio" class="menu-item"><i class="fas fa-book"></i></a>
        <a href="#experience" class="menu-item"><i class="fas fa-briefcase"></i></a>
        <a href="#contact" class="menu-item"><i class="fas fa-envelope"></i></a>
    </nav>
    
</div>
