<div class="content-container">
    <div class="content">
        <p class="software"><span class="first">Software</span> Developer</p>
        <h1 class="head">
            <span class="top">Hello I'm</span> 
            <span class="down">Shrestha Krishal</span>
        </h1>
        <p class="paragraph">"As a Full Stack Developer with expertise in ASP.NET Core Web API, Angular, and Swagger, I specialize in designing and developing scalable, high-performance web applications. 
            With a strong focus on clean architecture and user-centric design, I integrate technology and innovation to deliver seamless and efficient digital solutions."
        </p>
    </div>
    <img src="my.jpg" alt="Developer Image" class="profile-image">
</div>

<div class="social-icons">
    <button class="bt">
        View Portfolio 
    </button>
    <div class="social">
    <a href="https://github.com/krishalstha" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/krishal.shrestha.180" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/@demoncrist7034" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/crist_stha/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
</div>


